body {
    background-image: url("../img/Pena.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    te
}
.description {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: azure;
    border-style:solid;
    border-radius: 12%;
    border-color: gray;
}